graft src/hupper
graft tests
graft docs
prune docs/_build

include README.rst
include CHANGES.rst
include LICENSE.txt
include CONTRIBUTING.rst
include CONTRIBUTORS.txt

include pyproject.toml setup.cfg
include .coveragerc .flake8
include tox.ini appveyor.yml .travis.yml rtd.txt

recursive-exclude * __pycache__ *.py[cod]
